body 
{
	/*background-image: url(images/bgtile.jpg);*/
	background-repeat: repeat-x;
	background-color: #a09b90;
	margin: 20px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

.pageName 
{
   font:28px georgia;
   color: #a00c0a;
   letter-spacing:.1em;
   line-height:26px;
}

   
#content {
	/*background-image: url(images/sidebarbackground.jpg);
	background-repeat: repeat-y;*/
	background-color: #fff;
	border-bottom: 2px #fff solid;
	border-left: 0px;
	padding-left: 250px;
}

#container 
{
	margin: 0 auto;
	width: 1004px;
	height: 100%;
}

#contentcontainer
 {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

a
 {
   color: #cc0000;
   text-decoration:none;
   font-weight:bold;
}

h1 
{
	font-size: 48px;
	font-weight: 100;
	color: #a00c0a;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

h2 
{
	font-size: 18px;
	font-weight: 200;
	color: #a00c0a;
}

#orchardTable 
{
	margin-left:0px; 
	margin-right:0px; 
	background-color: white;
	padding: 3px;
	width: 440px;
}

/* NAVIGATION CSS */
#navigation {
	background-color: #9da06a;
	border-top: 2px #fff solid;
	border-bottom: 2px #fff solid;
	padding: 5px 15px 5px 15px;
	clear: both;
}

a.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}

a.nav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #993300;
	text-decoration: underline;
}
